<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicwidgets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicWidgets">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Fleeting Images"
            android:name=".FleetingImages"
            android:exported="true">
        </activity>

        <activity
            android:label="Field Of Green"
            android:name=".FieldOfGreen"
            android:exported="true">
        </activity>

        <activity
            android:label="CheckBox"
            android:name=".CheckBoxDemo"
            android:exported="true">
        </activity>

        <activity
            android:label="Radio"
            android:name=".Radio"
            android:exported="true">
        </activity>

        <activity
            android:label="Linear Layout"
            android:name=".LinearLayoutDemo"
            android:exported="true">
        </activity>

        <activity
            android:label="Box Model"
            android:name=".BoxModel"
            android:exported="true">
        </activity>

        <activity
            android:label="Relative Demo"
            android:name=".RelativeDemo"
            android:exported="true">
        </activity>

        <activity
            android:label="Overlap"
            android:name=".Overlap"
            android:exported="true">
        </activity>

        <activity
            android:label="Tabula Rasa"
            android:name=".TabulaRasa"
            android:exported="true">
        </activity>

        <activity
            android:label="Scrollwork"
            android:name=".scrollwork"
            android:exported="true">
        </activity>
    </application>

</manifest>